/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the navbar */
.navbar {
    background-color: #333;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 5px;
}
/*--------------------------------img properties-----------------------------*/
 .logo-img {
    height: 50px;
    width: 60px;
}
